<a href="https://colab.research.google.com/github/ynkim0/study/blob/main/SQL_5_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# We will first load an sql extension into our environment
# This extension will allow us to work with sql on Colaboratory
#
%load_ext sql

# We will then connect to our in memory sqlite database
# NB: This database will cease to exist as soon as the database connection is closed.
# We will learn more about how databases are created later in prep.
#
%sql sqlite://

'Connected: @None'

In [ ]:
%%sql
DROP TABLE IF EXISTS mst_users;
CREATE TABLE mst_users(
    user_id         varchar(255)
  , register_date   varchar(255)
  , register_device integer
);

INSERT INTO mst_users
VALUES
    ('U001', '2016-08-26', 1)
  , ('U002', '2016-08-26', 2)
  , ('U003', '2016-08-27', 3)
;

 * sqlite://
Done.
Done.
3 rows affected.

[]

In [ ]:
%%sql
SELECT
  user_id,
  CASE
    WHEN register_device = 1 THEN '데스크톱'
    WHEN register_device = 2 THEN '스마트폰'
    WHEN register_device = 3 THEN '애플리케이션'
    -- default 지정시, ELSE 구문 사용
    ELSE ''
  END AS device_name
FROM mst_users;

 * sqlite://
Done.

[('U001', '데스크톱'), ('U002', '스마트폰'), ('U003', '애플리케이션')]

In [ ]:
%%sql
DROP TABLE IF EXISTS access_log ;
CREATE TABLE access_log (
    stamp    varchar(255)
  , referrer text
  , url      text
);

INSERT INTO access_log 
VALUES
    ('2016-08-26 12:02:00', 'http://www.other.com/path1/index.php?k1=v1&k2=v2#Ref1', 'http://www.example.com/video/detail?id=001')
  , ('2016-08-26 12:02:01', 'http://www.other.net/path1/index.php?k1=v1&k2=v2#Ref1', 'http://www.example.com/video#ref'          )
  , ('2016-08-26 12:02:01', 'https://www.other.com/'                               , 'http://www.example.com/book/detail?id=002' )
;

 * sqlite://
Done.
Done.
3 rows affected.

[]

In [ ]:
%%sql
SELECT
  stamp
  -- PostgreSQLdml ruddn substring 함수와 정규 표현식 사용
  -- , substring(referrer from 'https?://([^/]*)') AS referrer_host
  
  -- Redshift의 경우, 정규 표현식에 그룹을 사용할 수 없으므로,
  -- regexp_substr 함수와 regexp-replace 함수를 조합하여 사용
  -- , regexp_replace(regexp_substr(referrer, 'https?://[^/]*'), 'https?://', '') AS referrer_host
  -- Hive, SparkSQL의 경우, parse_url 함수로 호스트이름 추출
  -- , parse_url(referrer, 'HOST') AS referrer_host

  -- BigQuery의 경우, host 함수 사용
  -- , host(referrer) AS referrer_host

FROM access_log
;

 * sqlite://
(sqlite3.OperationalError) no such function: regexp_substr
[SQL: SELECT
  stamp
  -- PostgreSQLdml ruddn substring 함수와 정규 표현식 사용
  -- , substring(referrer from 'https?://([^/]*)') AS referrer_host

  -- Redshift의 경우, 정규 표현식에 그룹을 사용할 수 없으므로,
  -- regexp_substr 함수와 regexp-replace 함수를 조합하여 사용
, regexp_replace(regexp_substr(referrer, 'https?://[^/]*'), 'https?://', '') AS referrer_host
  -- Hive, SparkSQL의 경우, parse_url 함수로 호스트이름 추출
  -- , parse_url(referrer, 'HOST') AS referrer_host

  -- BigQuery의 경우, host 함수 사용
  -- , host(referrer) AS referrer_host

FROM access_log
;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)